<div class="container body" >
    <!--<shortcut></shortcut>-->
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <div class="navbar nav_title" style="border: 0;">
                    <a ui-sref="home" class="site_title"><i class="fa fa-{{main.appIcon}}"></i> <span>{{main.appTitle}}</span></a>
                </div>
                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile">
                    <div class="profile_pic">
                        <img ng-src="{{main.user.photo}}" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>{{'welcome' | translate}},</span>
                        <h2>{{main.user.firstname}}</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br />
                <!-- sidebar menu -->
                <w-sidebar menu-sections="main.menuSections"></w-sidebar>
                <!-- /sidebar menu -->
                <!-- sidebar footer -->
                <w-sidebar-footer>
                    <w-sidebar-footer-item title="settings" icon="cog"></w-sidebar-footer-item>
                    <w-sidebar-footer-item title="fullscreen" icon="fullscreen"></w-sidebar-footer-item>
                    <w-sidebar-footer-item title="lock" icon="eye-close"></w-sidebar-footer-item>
                    <w-sidebar-footer-item title="logout" icon="off"></w-sidebar-footer-item>
                </w-sidebar-footer>
                <!-- /sidebar footer -->
            </div>
        </div>

        <!-- top navigation -->
        <w-topbar>
            <w-topbar-dropdown>
                <w-topbar-dropdown-header class="user-profile" tooltip-placement="bottom" uib-tooltip="{{'profile-management-tooltip' | translate }}">
                    <img ng-src={{main.user.photo}} alt="">{{main.user.fullname}} <span class=" fa fa-angle-down"></span>
                </w-topbar-dropdown-header>
                <w-topbar-dropdown-items>
                    <w-topbar-dropdown-item>
                        <a href="javascript:;" tooltip-placement="left" uib-tooltip="{{'profile-tooltip' |translate}}"> <i class="fa fa-user pull-right"></i> {{ 'profile' | translate}}</a>
                    </w-topbar-dropdown-item>
                    <w-topbar-dropdown-item>
                        <a href="javascript:;" tooltip-placement="left" uib-tooltip="{{'settings-tooltip' |translate}}">
                            <i class="fa fa-gear pull-right"></i>
                            <span class="badge bg-red pull-right">50%</span>
                            <span>{{'settings' | translate}}</span>
                        </a>
                    </w-topbar-dropdown-item>
                    <w-topbar-dropdown-item divider>
                        <a href="javascript:;" tooltip-placement="left" uib-tooltip="{{'help-tooltip' |translate}}"><i class="fa fa-question pull-right"></i>{{'help' | translate }}</a>
                    </w-topbar-dropdown-item>
                    <w-topbar-dropdown-item>
                        <a href="login.html" tooltip-placement="left" uib-tooltip="{{'logout-tooltip' |translate}}"><i class="fa fa-sign-out pull-right"></i>{{'logout' | translate}}</a>
                    </w-topbar-dropdown-item>
                </w-topbar-dropdown-items>
            </w-topbar-dropdown>
        </w-topbar>
        <!-- /top navigation -->
        <!-- page content -->
        <div class="right_col" role="main" ui-view></div>
        <!-- /page content -->
    </div>
</div>